main {
    height: 100vh;
}

.navbar {
    height: 4rem;
}

.navbar .navbar-brand .logo_small {
    width: 2.3em;
}

.sidebar {
    width: 50px;
    height: calc(100vh - 4rem);
    background-color: rgb(11, 35, 57);
    background-image: url(../img/sidebar-bg.png) ;
    overflow-y: hidden;
}

.sidebar i {
    width: 15px;
    margin-right: 5px;
}

.sidebar a {
    padding: .3rem;
}

.main-content {
    width: calc(100% - 50px);
    height: calc(100vh - 4rem);
    background-color: lightgrey;
    overflow-y: auto;
}

/* media sidebar  */

@media (min-width: 992px) {
    .sidebar {
        width: 125px;
    }

    .main-content {
        width: calc(100% - 125px);
    }
}

/* contenuto principale  */

/* card con tabella  */

.table tbody img {
    height: 1.6em;
}
